* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  background-color: #2b2ec7;
  min-height: 100vh;
  text-align: center;
}

p {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  text-align: left;
}

.flex {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  color: white;
}

#start {
  -webkit-box-shadow: 0 10px 15px #1a1635;
          box-shadow: 0 10px 15px #1a1635;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #f9f9f9), to(#e9e9e9));
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color: #f9f9f9;
  border-radius: 20px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #2b2ec7;
  font-size: 2rem;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

#start:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #e9e9e9), to(#f9f9f9));
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  background-color: #e9e9e9;
}

#start:active {
  position: relative;
  top: 1px;
}

#ecranFin {
  font-family: "Sacramento", cursive;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.452);
  text-transform: uppercase;
  cursor: pointer;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#ecranFin .perdu {
  font-family: "Roboto", sans-serif;
  margin: 10rem auto 0;
  width: 70%;
  line-height: 4rem;
  font-size: 2rem;
  background: rgba(5, 0, 39, 0.7);
  border-radius: 10px;
  color: #c5c5c5;
  -webkit-box-shadow: 0 10px 15px #030011;
          box-shadow: 0 10px 15px #030011;
  padding: 1rem;
}

#ecranFin .tuGagnes {
  font-family: "Roboto", sans-serif;
  margin: 7rem auto 0;
  width: 70%;
  line-height: 4rem;
  color: white;
  background: rgba(189, 5, 189, 0.651);
  -webkit-box-shadow: 0 10px 15px #380138;
          box-shadow: 0 10px 15px #380138;
  border-radius: 10px;
  font-size: 2rem;
  padding: 1rem;
  text-shadow: 4px 2px 1px rgba(75, 1, 53, 0.808);
}

#ecranFin .tuGagnes .score {
  font-family: "Roboto", sans-serif;
}

#canvas {
  cursor: pointer;
  border: none;
  border: 1px #8c8af1 solid;
  background-image: url(media/fondwinter.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0 10px 15px #1a1635;
          box-shadow: 0 10px 15px #1a1635;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  height: 600px;
  width: 340px;
}

#canvas .flocon {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: var(--y);
  width: var(--x);
  --scaler: 1;
  -webkit-animation: floconAnim 14s forwards;
          animation: floconAnim 14s forwards;
}

#canvas .flocon:hover {
  --scaler: 1.05;
}

#canvas .flocon:active {
  --scaler: 0.95;
}

@-webkit-keyframes floconAnim {
  from {
    -webkit-transform: translate(0%, 0%) scale(var(--scaler));
            transform: translate(0%, 0%) scale(var(--scaler));
  }
  to {
    -webkit-transform: translate(var(--trX), var(--trY)) scale(var(--scaler));
            transform: translate(var(--trX), var(--trY)) scale(var(--scaler));
  }
}

@keyframes floconAnim {
  from {
    -webkit-transform: translate(0%, 0%) scale(var(--scaler));
            transform: translate(0%, 0%) scale(var(--scaler));
  }
  to {
    -webkit-transform: translate(var(--trX), var(--trY)) scale(var(--scaler));
            transform: translate(var(--trX), var(--trY)) scale(var(--scaler));
  }
}
/*# sourceMappingURL=style.css.map */